.changeAmount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 15%;

  &__button {
    background-color: $clr-orange;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    transition: all 0.4s ease-in-out;

    svg {
      transform: scale(1.5);
    }

    &:hover {
      background-color: $clr-orange-darker;
    }
  }

  &__size {
    margin: 0 auto 0 4px;
  }

  &__amount {
    font-weight: 700;
    margin: 0 5px;
  }
}
