$border-radius: 5px;
$border-radius-input: 10px;

$clr-text: #141414;
$clr-text-light: #1414149d;
$clr-blue: #1a2a4b;
$clr-orange: #fca311;
$clr-orange-darker: #da8e15;
$clr-light-grey: #ebe9e9;
$clr-white: #fff;
$clr-dark: #010108;
$clr-error: #d31717;
