.search {
  min-height: 81vh;

  &__title {
    margin-top: 20px;
    font-weight: 700;
    font-size: 1.375rem;
  }

  &__grid {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}

@media (max-width: 768px) {
  .search {
    &__title {
      font-size: 1.25rem;
    }

    &__grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: 540px) {
  .search {
    &__grid {
      grid-template-columns: 1fr;
    }
  }
}
