.success {
  min-height: 74vh;
  display: flex;
  align-items: center;
  text-align: center;

  &__title {
    margin: 20px 0;
  }

  &__text {
    margin-bottom: 20px;
  }

  &__button {
    @include ctaBtn;
  }
}
